  .justify-center {
    justify-content: center;
  }
  .justify-between {
    justify-content: space-between;
  }
  .justify-items-center {
    justify-items: center;
  }
  .items-center {
    align-items: center;
  }
  
  .items-end {
    align-items: flex-end;
  }

  @include breakpoint($bp-medium) {
    .md\:justify-start {
      justify-content: flex-start;
    }
    .md\:justify-between {
      justify-content: space-between;
    }
    .md\:items-center {
      align-items: center;
    }
  }
  
  @include breakpoint($bp-large) {
    .lg\:justify-start {
      justify-content: flex-start;
    }
    .lg\:justify-between {
      justify-content: space-between;
    }
    .lg\:items-center {
      align-items: center;
    }
  }
  
  @include breakpoint($bp-extra-large) {
    .xl\:justify-start {
      justify-content: flex-start;
    }
    .xl\:justify-between {
      justify-content: space-between;
    }
    .xl\:items-center {
      align-items: center;
    }
  }
  