.aspect-ratio {
  height: 0;
  overflow: hidden;
  position: relative;

  &--7\/9 {
    padding-bottom: 130%;
  }

  &--square {
    padding-bottom: 100%;
  }

  &--16\/9 {
    padding-bottom: 56.25%;
  }

  &--3\/2 {
    padding-bottom: 66.66%;
  }

  &--4\/3 {
    padding-bottom: 75%;
  }

  &--5\/4 {
    padding-bottom: 80%;
  }

  &--14\/9 {
    padding-bottom: 155%;
  }

  &--21\/9 {
    padding-bottom: 42.86%;
  }
}

.aspect-ratio__inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@include breakpoint($bp-extra-small) {
  .xs\:aspect-ratio {
    height: 0;
    overflow: hidden;
    background: white;
    position: relative;
  }

  .xs\:aspect-ratio__inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .xs\:aspect-ratio--16\/9 {
    padding-bottom: 56.25%;
  }

  .xs\:aspect-ratio--auto {
    padding-bottom: 0;
  }
}

@include breakpoint($bp-medium) {
  .md\:aspect-ratio--square {
    padding-bottom: 100%;
  }

  .md\:aspect-ratio--21\/9 {
    padding-bottom: 42.86%;
  }
}

@include breakpoint($bp-large) {
  .lg\:aspect-ratio--5\/4 {
    padding-bottom: 80%;
  }

  .lg\:aspect-ratio--auto {
    padding-bottom: 0;
    height: 100%;
  }
}
