.bg-primary-dark {
    background-color: var(--color-primary-dark);
}

.bg-primary {
    background-color: var(--color-primary);
}

.bg-primary-lightest {
    background-color: var(--color-primary-lightest);
}