.container {
    margin-right: auto;
    margin-left: auto;
    padding-right: var(--container-p-sm);
    padding-left: var(--container-p-sm);
    
    @media screen and (min-width: 1280px) {
      max-width: var(--w-page-max);
      padding-right: var(--container-p-lg);
      padding-left: var(--container-p-lg);    
    }
  }

  @include breakpoint($bp-small) {
    .sm\:container {
      margin-right: auto;
      margin-left: auto;
      padding-right: var(--container-p-sm);
      padding-left: var(--container-p-sm);
      
      @media screen and (min-width: 1280px) {
        max-width: var(--w-page-max);
        padding-right: var(--container-p-lg);
        padding-left: var(--container-p-lg);    
      }
    } 
  }

  @include breakpoint($bp-large) {
    .lg\:container {
      margin-right: auto;
      margin-left: auto;
      padding-right: var(--container-p-sm);
      padding-left: var(--container-p-sm);
      
      @media screen and (min-width: 1280px) {
        max-width: var(--w-page-max);
        padding-right: var(--container-p-lg);
        padding-left: var(--container-p-lg);    
      }
    } 
  }