.flex {
  display: flex;
}

.inline-flex {
  display: inline-flex;
}

.flex-col {
  flex-direction: column;
}
.flex-row {
  flex-direction: row;
}

.flex-wrap {
  flex-wrap: wrap;
}

.w-full {
  width: 100%;
}

@include breakpoint($bp-medium) {
  .md\:flex {
    display: flex;
  }
  .md\:flex-row {
    flex-direction: row;
  }
  .md\:w-1\/2 {
    width: 50%;
  }
  .md\:w-1\/3 {
    width: 33.333%;
  }
}

@include breakpoint($bp-large) {
  .lg\:flex {
    display: flex;
  }
  .lg\:flex-col {
    flex-direction: column;
  }
  .lg\:w-1\/3 {
    width: 33.333%;
  }
  .lg\:w-1\/4 {
    width: 25%;
  }
}

@include breakpoint($bp-extra-large) {
  .xl\:flex {
    display: flex;
  }
  .xl\:flex-col {
    flex-direction: column;
  }
  .xl\:w-1\/3 {
    width: 33.333%;
  }
  .xl\:w-1\/4 {
    width: 25%;
  }
}
