.grid {
  display: grid;
  gap: var(--gap);

  &--no-gap {
    gap: 0;
  }
}

.grid-rows-2 {
  grid-template-rows: repeat(2, minmax(0, 1fr));
}

.col-span-full {
  grid-column: 1 / -1;
}

@include breakpoint($bp-small) {
  .sm\:grid {
    display: grid;
    gap: var(--gap);
  }
  .sm\:grid-cols-12 {
    grid-template-columns: repeat(12, minmax(0, 1fr));
  }
  .sm\:col-span-6 {
    grid-column: span 6 / span 6;
  }
}

@include breakpoint($bp-medium) {
  .md\:grid {
    display: grid;
    gap: var(--gap);
  }
  .md\:grid-cols-12 {
    grid-template-columns: repeat(12, minmax(0, 1fr));
  }
  .md\:col-span-4 {
    grid-column: span 4 / span 4;
  }
  .md\:col-span-6 {
    grid-column: span 6 / span 6;
  }
}

@include breakpoint($bp-large) {
  .lg\:grid {
    display: grid;
    gap: var(--gap);

    &--no-gap {
      gap: 0;
    }
  }

  .lg\:grid-cols-12 {
    grid-template-columns: repeat(12, minmax(0, 1fr));
  }
  .lg\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .lg\:grid-rows-2 {
    grid-template-rows: repeat(2, minmax(0, 1fr));
  }
  .lg\:col-span-3 {
    grid-column: span 3 / span 3;
  }
  .lg\:col-span-5 {
    grid-column: span 5 / span 5;
  }
  .lg\:col-span-6 {
    grid-column: span 6 / span 6;
  }
  .lg\:col-span-7 {
    grid-column: span 7 / span 7;
  }
  .lg\:col-span-full {
    grid-column: 1 / -1;
  }
  .lg\:col-start-1 {
    grid-column-start: 1;
  }
  .lg\:col-start-2 {
    grid-column-start: 2;
  }
  .lg\:col-start-3 {
    grid-column-start: 3;
  }
  .lg\:col-start-4 {
    grid-column-start: 4;
  }
  .lg\:col-start-5 {
    grid-column-start: 5;
  }
  .lg\:col-start-6 {
    grid-column-start: 6;
  }
  .lg\:col-start-7 {
    grid-column-start: 7;
  }
  .lg\:col-end-5 {
    grid-column-end: 5;
  }
  .lg\:col-end-6 {
    grid-column-end: 6;
  }
  .lg\:col-end-7 {
    grid-column-end: 7;
  }
  .lg\:col-end-10 {
    grid-column-end: 10;
  }
  .lg\:col-end-11 {
    grid-column-end: 11;
  }
  .lg\:col-end-12 {
    grid-column-end: 12;
  }
  .lg\:row-span-2 {
    grid-row: span 2 / span 2;
  }
  .lg\:row-start-1 {
    grid-row-start: 1;
  }
}

@include breakpoint($bp-extra-large) {
  .xl\:col-start-2 {
    grid-column-start: 2;
  }
  .xl\:col-start-3 {
    grid-column-start: 3;
  }
  .xl\:col-start-6 {
    grid-column-start: 6;
  }
  .xl\:col-start-7 {
    grid-column-start: 7;
  }
  .xl\:col-end-6 {
    grid-column-end: 6;
  }
  .xl\:col-end-7 {
    grid-column-end: 7;
  }
  .xl\:col-end-11 {
    grid-column-end: 11;
  }
}
