$input_border: var(--color-grey-light);

@include inputs {
	border: 0;
	font-family: inherit;
	font-weight: inherit;
	font-size: rem(18px);
	height: rem(48px);
	padding: 0 rem(18px);
	color: var(--color-primary-dark);
	font-weight: var(--weight-regular);
	transition: var(--transition-duration);
	background: var(--color-primary-lightest);
	width: 100%;

	&:focus {
		outline: none;
		border-color: var(--color-primary);
	}

	&[disabled] {
		background-color: var(--color-grey-light);
		cursor: not-allowed;
	}

	&::-webkit-input-placeholder {
		color: var(--color-grey-light);
	}

	&::-moz-placeholder { /* Firefox 19+ */
		color: var(--color-grey-light);
	}

	&:-ms-input-placeholder { /* IE 10+ */
		color: var(--color-grey-light);
	}

	&:-moz-placeholder { /* Firefox 18- */
		color: var(--color-grey-light);
	}

}

input:not([type="submit"]) {

	// Remove focus styles
	&[type="checkbox"],
	&[type="radio"],
	&[type="range"],
	&[type="file"],
	&[type="color"],
	&[type="submit"] {

		&:focus {
			border-color: transparent;
			box-shadow: none;
			outline: none;
		}

	}

}

input[type="submit"],
.frm_button_submit {
	@extend .button;
	@extend .button--primary;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
   -webkit-appearance: none;
   margin: 0;
}

// Textarea

textarea {
	height: auto;
	padding: rem(15px);
	resize: vertical;
}

// Formidable forms styling

.frm_forms {
	width: 100%;

	&:not(:last-child) {
		margin-bottom: var(--container-p-lg);
	}

	.frm_primary_label {
		font-size: rem(16px);
		display: block;
		margin-bottom: rem(8px);
	}

	.frm_description {
		font-size: rem(14px);
		padding-top: rem(4px);
	}

	.frm_fields_container {

		@include breakpoint($bp-small) { 
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-between;
		}

   }

	.frm_required {
		color: var(--color-primary);
		margin-left: rem(4px);
	}

	fieldset {
		border: 0;
		border-radius: 0;
		padding: 0;
		margin: 0;
	}

	.frm_form_field,
	.form-field {
		width: 100%;
		margin-bottom: var(--container-p-lg);

		&.frm_none_container {

			.frm_primary_label {
				display: none;
			}

		}

		&.frm_half {

			@include breakpoint($bp-small) {
				width: 49%;
			}

		}

	}  

	.frm_error {
		font-size: rem(16px);
		color: var(--color-red);
		margin: 0;
		padding: rem(8px) 0 0 0;
	}

	.frm_checkbox,
	.frm_radio {
		margin-bottom: 4px;

		input[type="radio"],
		input[type="checkbox"] {
			display: none;

			&:checked {

				+ span {

					&:before {
						opacity: 1;
					}

				}

			}

		}

		span {
			display: block;
			width: 18px;
			height: 18px;
			background: transparent;
			position: absolute;
			top: 3px;
			left: 0;
			z-index: 2;
			background: transparent;
			border: 1px solid $input_border;

			&:before {
				content: "";
				position: absolute;
				top: 3px;
				left: 3px;
				width: 10px;
				height: 10px;
				z-index: 3;
				background-color: var(--color-primary);
				opacity: 0;
				transition: opacity var(--transition-duration) ease;
			}

		}

		label {
			display: block;
			position: relative;
			padding-left: rem(30px);
			cursor: pointer;
			font-size: rem(15px);
			margin: 0;
		}

	}

	.frm_radio {

		span {
			border-radius: 50%;

			&:before {
				border-radius: 50%;
				top: 3px;
				left: 3px;
				width: 10px;
				height: 10px;
			}

		}

	}

	.frm_hidden,
	.frm_screen_reader,
	.frm_verify {
		display: none;
	}

	.frm_screen_reader {
		border: 0;
		clip: rect(1px, 1px, 1px, 1px);
		-webkit-clip-path: inset(50%);
		clip-path: inset(50%);
		height: 1px;
		margin: -1px;
		overflow: hidden;
		padding: 0;
		position: absolute;
		width: 1px;
		word-wrap: normal !important; /* many screen reader and browser combinations announce broken words as they would appear visually */
	}

	.frm_error_style {
		display: none;
	}

	.frm_ajax_loading {
		visibility: hidden;
		width: auto;

		&.frm_loading_now {
			visibility: visible !important;
		}

	}

	.frm_clear_none {
	    clear:none;
	}

	.frm_clear {
	    clear:both;
	}

}