//
// Styles
// ------

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	margin: 0;
	padding: 0;
	font-weight: var(--weight-medium);
	font-family: var(--family-secondary);
	line-height: 1.2;
	-webkit-font-smoothing: antialiased;
}

h1, .h1 {
	font-size: var(--h1-size);
}

h2, .h2 {
	font-size: var(--h2-size);
}

h3, .h3 {
	font-size: var(--h3-size);
}

h4, .h4 {
	font-size: var(--h4-size);
}

h5, .h5,
h6, .h6 {
	font-size: var(--h5-size);
}

.heading-underline {
	display: flex;
	flex-direction: column;

	&::after {
		display: block;
		content: '';
		width: 64px;
		height: 3px;
		margin-top: rem(16px);
		background-color: var(--color-primary);
		border-radius: 3px;
	}

	&--white {
		&::after {
			background-color: var(--color-white);
		}
	}

	&--center {
		align-items: center;
	}
}