body {
  background-color: var(--color-body);
  color: var(--color-text);
  overflow-x: hidden;
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  font-size: rem(18px);
  font-family: var(--family-primary);
  line-height: 1.5;
}

// shame

@include breakpoint($bp-large) {
  .usp-item {
    &:nth-of-type(5n) {
      grid-column-start: 3;
    }
  }
}
