//
// Defaults
// --------

i,
em,
.italic {
	font-style: italic;
}

b,
strong,
.bold {
	font-weight: var(--weight-medium);
}

small,
.small {
	font-size: 75%;
	vertical-align: text-bottom;
}


//
// Paragraphs
// --------

p {

	&:not(:last-child) {
		margin-bottom: rem(24px);
	}

}

//
// Links
// -----

a {
	color: var(--color-primary);
	cursor: pointer;
	text-decoration: none;
	transition: var(--transition-duration);

	&:hover,
	&:focus {
		color: var(--secondary);
	}

}


//
// Lists
// --------

ul,
ol {

	ul, ol {
		margin-bottom: 0;
	}

}

ul {

	ul {
		list-style-type: square;
	}

	ol {
		list-style-type: lower-roman;
	}

}

ol {

	ol {
		list-style-type: lower-roman;
	}

	ul {
		list-style-type: square;
	}

}


//
// Blockquotes
// ---------

blockquote {
	color: var(--color-primary);
	font-size: rem(24px);
	line-height: 1.4;
	font-style: var(--weight-regular);
	padding: 0;

	cite,
	footer {
		display: block;
		font-size: rem(14px);
		color: var(--color-grey-light);
		font-style: italic;
	}

	cite:before,
	footer:before {
		content: "- ";
	}

}

//
// Addresses
// ---------

address {
	font-style: normal;
}
