// This mixin creates the media queries allowing for the design to be responsive on smaller screens

@mixin breakpoint($breakpoint) {

	@if $breakpoint == $bp-tiny {
		@media (min-width: $bp-tiny) { @content };
	}

	@if $breakpoint == $bp-extra-small {
		@media (min-width: $bp-extra-small) { @content };
	}

	@if $breakpoint == $bp-small {
		@media (min-width: $bp-small) { @content };
	}

	@if $breakpoint == $bp-medium {
		@media (min-width: $bp-medium) { @content };
	}

	@if $breakpoint == $bp-large {
		@media (min-width: $bp-large) { @content };
	}

	@if $breakpoint == $bp-extra-large {
		@media (min-width: $bp-extra-large) { @content };
	}

}