/**
 * Easily add styling (margins / paddings) for a grid
 *
 * @param  {Value} $gutter   Combined top / right / bottom & left values
 * @param  {Value} $gutter-y Combined top & bottom values
 * @param  {Value} $gutter-x Combined right & left values
 * @param  {String} $item     The CSS selector for the child items
 * @param  {String} $parent   Optionally, the CSS selector for the parent. By default, this is the CSS selector in which the mixin is added
 *
 * @example scss - Add grid to a parent with child items
 *
 *    @include gutter(
 *        $gutter-y : 20px,
 *        $gutter-x : 30px,
 *        $item     : '&__column',
 *        $parent   : '&__inner'
 *    );
 *
 * @return Negative margin for $parent, positive padding for $item
 */

@mixin gutter( $gutter : null, $gutter-y : null, $gutter-x : null, $item : '&__item', $parent : '&') {

	@if ($gutter) { // Equal gutter on all sides

		// Devide gutter by 2, because gutters don't collapse
		$gutter : $gutter / 2;

		#{$parent} {
			margin: -$gutter;
		}

		#{$item} {
			padding: $gutter;
		}

	} @else if ($gutter-y and $gutter-x) { // Different gutters vertical and horizontal

		// Devide gutters by 2, because gutters don't collapse
		$gutter-y : $gutter-y / 2;
		$gutter-x : $gutter-x / 2;

		#{$parent} {
			margin: #{-$gutter-y} #{-$gutter-x};
		}

		#{$item} {
			padding: $gutter-y $gutter-x;
		}

	} @else {

		@warn 'Sorry, but $gutter or $gutter-y and $gutter-x are not set.';

	}

}
