.button {
	font-family: var(--family-secondary);
	font-weight: var(--weight-semi-bold);
	font-size: rem(14px);
	border: none;
	border-radius: 26px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	line-height: 1.0;
	display: inline-flex;
	align-items: center;
	padding: rem(17px) rem(32px);
	transition: var(--transition-duration);
	position: relative;

	&:hover,
	&:focus {
		text-decoration: none;
	}

	&:focus,
	&:active {
		outline: none;
	}

	&[disabled] {
		opacity: 0.4;
		cursor: not-allowed;
	}

	&--primary {
		color: var(--color-white);
		background-color: var(--color-primary);
		
		&:hover {
			background-color: var(--color-primary-dark);
			color: var(--color-white);
		}
	}

	&--primary-white {
		color: var(--color-white);
		background-color: var(--color-primary);
		
		&:hover {
			background-color: var(--color-white);
			color: var(--color-primary-dark);
		}	
	}

	&--primary-dark-white {
		color: var(--color-white);
		background-color: var(--color-primary-dark);
		
		&:hover {
			background-color: var(--color-white);
			color: var(--color-primary);
		}	
	}

	&--arrow {
		&::after {
			@extend %fa-icon;
			@extend .fal;
			content: fa-content($fa-var-long-arrow-right);
			margin-left: rem(10px);
			font-size: rem(20px);
			transition: var(--transition-duration);
		}

		&:hover {
			&::after {
				transform: translateX(5px);
			}
		}
	}

	&--link {
		text-transform: capitalize;
		font-size: rem(17px);
		font-weight: var(--weight-regular);
		color: var(--color-primary-dark);
		padding: 0;

		span {
			text-decoration: underline;
		}
		
		i {
			margin-right: rem(8px);
		}

		&:hover {
			color: var(--color-primary);
		}
	}
}
