.card {
  position: relative;
  margin-top: rem(64px);
  padding-top: rem(40px);
  padding-bottom: rem(10px);
  text-align: center;

  a {
    height: 100%;
    color: inherit;
  }

  i {
    display: block;
    margin-top: auto;
    color: var(--color-primary);
    transition: var(--transition-duration);
  }

  p {
    margin: 0 auto rem(24px);
    max-width: 400px;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
    width: calc(100% - 32px);
    height: 100%;
    background-color: var(--color-primary-lightest);
  }

  &:hover {
    i {
      transform: translateX(5px);
    }
  }

  &__icon {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    width: rem(64px);
    height: rem(64px);
    display: block;
  }

  &__heading {
    max-width: 320px;
    margin: rem(8px) auto;
  }
}
