.cases__grid {

    &:last-child {
        margin-bottom: var(--container-spacing);
    }

    + .grid {
        margin-top: rem(40px);
        row-gap: rem(48px);
    }

    .grid {
        row-gap: rem(48px);
    }

}

.cases {
    $root: &;
    text-align: center;

    .button {
        margin-top: rem(56px);
    }

    &__item {
        position: relative;
        text-align: left;
        z-index: 1;

        &:hover {
            .cases__inner {
                img {
                    transform: scale(1.05);
                }
            }

            .cases__content {
                p::after {
                    transform: translateX(5px);
                }
            }

        }
    }

    &__heading {
        color: var(--color-primary-dark);
    }

    &__inner {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        
        img {
            position: absolute;
            height: 100%;
            width: 100%;
            object-fit: cover;
            transform: scale(1);
            transition: var(--transition-duration);
        }
    }

    &__content {
        position: relative;
        z-index: 1;
        padding-top: rem(16px);
        padding-right: rem(16px);
        width: 90%;
        max-width: 320px;
        background-color: var(--color-white);

        p {
            margin-top: rem(8px);

            &::after {
                @extend %fa-icon;
                @extend .fal;
                content: fa-content($fa-var-long-arrow-right);
                position: relative;
                top: rem(2px);
                margin-left: rem(10px);
                font-size: rem(20px);
                transition: var(--transition-duration);
            }
        }
    }

    @include breakpoint($bp-large) {
        overflow: hidden;
        background-color: var(--color-primary-lightest);
        
        &__grid {
            position: relative;
            overflow: hidden;
            
            &::after {
                content: '';
                position: absolute;
                top: 50%;
                left: 0;
                right: 0;
                width: 100%;
                height: 100%;
                background-color: var(--color-white);
            }
            
            &--bg {
                overflow: visible;            
                background-color: var(--color-primary-lightest);
            }
        }

        &__item {
            .cases__content--primary-lightest {
                background-color: var(--color-primary-lightest);
            }
        }

        &__item--lg {
            .cases__content {
                max-width: 520px;
                padding-top: rem(24px);
                padding-right: rem(24px);
            }
        }
    }
}