.contact {
  p {
    margin-top: rem(24px);
  }

  &__card {
    position: relative;
    margin-top: rem(80px);
    padding: rem(104px) rem(24px) rem(24px);
    background-color: var(--color-primary-lightest);
    text-align: center;
  }

  &__info {
    p {
      margin-top: rem(8px);
      margin-bottom: rem(24px);
      font-size: rem(20px);
    }

    ul li {
      margin-top: rem(16px);
      font-size: rem(17px);

      i {
        margin-right: rem(8px);
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .avatar {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  @include breakpoint($bp-medium) {
    &__card {
      margin-top: 0;
      padding-top: rem(32px);
      text-align: left;
    }

    &__info {
      padding-left: rem(200px);

      ul li {
        margin-top: 0;
        margin-right: rem(40px);
      }
    }

    .avatar {
      left: 0;
      transform: translate(24px, -24px);
    }
  }
}
