.copy {

  /**
	 * Set default vertical spacing for all elements.
	 */

  // > * + * {
  //   margin-top: rem(40px);
  // }

  /**
	 * Reset (decrease) some margins for better typography (proximity)
	 */

  > * + p,
  > * + ul,
  > * + ol,
  > * + dl {
    margin-top: rem(24px) !important;
  }

  > h2 + *,
  > h3 + * {
    margin-top: rem(24px) !important;
  }

  > h4 + p,
  > h5 + p,
  > h6 + p {
    margin-top: 0 !important;
  }

  h2 {
    display: flex;
    flex-direction: column;

    &::after {
      display: block;
      content: "";
      width: 64px;
      height: 3px;
      margin-top: rem(16px);
      background-color: var(--color-primary);
      border-radius: 3px;
    }
  }

  ul {
    li {
      position: relative;
      line-height: 2;

      &::before {
        margin-right: rem(16px);
        font-family: "Font Awesome 5 Pro";
        font-weight: 900;
        content: "\f058";
        color: var(--color-primary);
      }
    }
  }

  ol {
    counter-reset: counter;

    li {
      position: relative;
      counter-increment: counter;
      padding-left: rem(16px);

      &::before {
        content: counter(counter);
        position: absolute;
        top: 0;
        left: 0;
        color: var(--color-primary);
      }
    }
  }

  blockquote {

    p {
      color: var(--color-primary);
      font-weight: var(--weight-light);
      font-style: normal;
      font-size: rem(30px);
      line-height: 1.2;

      // &::before {
      //   content: open-quote;
      // }

      // &::after {
      //   content: close-quote;
      // }

    }

    em {
      font-size: rem(18px);
      font-style: normal;
      margin-top: rem(16px);
      font-size: rem(16px);
      font-weight: var(--weight-light);
      color: var(--color-primary-dark);
    }

  }

}