.cta {
  &__content {
    color: var(--color-white);
    text-align: center;
    border-bottom: none;

    p,
    .button {
      margin-top: rem(32px);
    }

    p {
      margin-right: auto;
      margin-left: auto;
      max-width: 560px;
    }
  }
}
