.fancybox-content {
	padding: var(--base-spacing-md);

	.alignright {
		margin-left: var(--base-spacing-md);
		margin-bottom: var(--base-spacing-md);
		display: inline;
		float: right;
	}

	h2 {

		&:not(:last-child) {
			margin-bottom: rem(12px);
		}

	}

	@include breakpoint($bp-small) {
		padding: var(--base-spacing-xl);
	}

}