.footer {
  position: relative;
	z-index: 2;

  &__inner {
    padding-top: rem(48px);
    padding-bottom: rem(48px);
    text-align: center;
  }

  &__text {
    small {
      margin-top: rem(8px);
      font-size: rem(17px);
      display: block;
    }
  }

  &__navigation {
    margin-top: rem(16px);
    font-size: rem(17px);
  }

  &__nav li a {
    color: var(--color-primary-dark);
  }

  .socials {
    margin-top: rem(16px);
  }

  @include breakpoint($bp-extra-large) {
    &__inner {
      text-align: left;
    }

    &__text {
      small {
        margin-top: 0;
        font-size: rem(16px);
      }

      .logo {
        margin-right: rem(16px);
      }
    }

    &__navigation {
      font-size: rem(16px);
      margin-top: 0;

      ul:not(:last-child) {
        margin-right: rem(32px);
      }
    }

    &__nav li:not(:last-child) {
      margin-right: rem(40px);
    }

    .socials {
      margin-top: 0;
    }
  }

}
