.hamburger {
	position: relative;
	display: flex;
	align-items: center;
	color: var(--color-primary-dark);
	transition: var(--transition-duration);
	width: 100%;

	&:focus {
		outline: none;
	}
	
	span {
		position: relative;
		width: 20px;
		height: 2px;
		margin-right: rem(12px);
		background-color: var(--color-primary);
		
		&::before,
		&::after {
			content: '';
			position: absolute;
			left: 0;
			height: 2px;
			border-radius: 2px;
			background-color: var(--color-primary);
			transition: var(--transition-duration);
		}
		
		&::before {
			width: 30px;
			top: -8px;
		}

		&::after {
			width: 12px;
			top: 8px;
		}
	}
	
	&::after {
		content: 'Menu';
		margin-left: rem(8px);
		font-size: rem(16px);
		text-transform: uppercase;
	}
		
	body.active-responsive-nav & {
		color: var(--color-white);

		span,
		span::before,
		span::after {
			background-color: var(--color-white);
		}

		span {
			width: 30px;
			transform: rotate(45deg);
		}

		span::before {
			top: 0;
			transform: rotate(-90deg);
		}

		span::after {
			opacity: 0;
		}
	}
	
}

.active-responsive-nav {
	overflow: hidden;
}