.header {
    $root: &;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    background-color: var(--color-white);

    &__inner {
        height: var(--header-height-sm);

        a {
            z-index: 20;
        }
        
    }

    &__nav-toggle,
    .logo {
        z-index: 20;
    }

    &__phone {
      display: none;      
    }

    @include breakpoint($bp-small) {

        &__phone {
            display: block;
            margin-right: rem(56px);
            color: var(--color-primary-dark);
            font-size: rem(17px);
    
            i {
                margin-right: rem(8px);
            }

        }

    }

    @include breakpoint($bp-large) {
        background-color: transparent;

        #{$root}__inner {
            height: var(--header-height-lg);
        }

        .logo {
            position: relative;
            top: rem(30px);
        }

    }

}