.hero {

    $root: &;

    &__content {
        padding: rem(40px) var(--container-p-sm) rem(40px);
        background-color: var(--color-primary-lightest);

        h1 {
            line-height: 1;
        }

        p {
            margin-top: rem(32px);
        }

        a:not(.button) {
            margin-top: rem(16px);
        }

    }

    &__media {
        height: 100%;
        
        img {
            object-fit: cover;
            height: 100%;
            width: 100%;
        }
    }

    @include breakpoint($bp-large) {
        position: relative;
        padding-top: var(--header-height-lg);
        background-color: var(--color-primary-lightest);
        grid-template-rows: 1;

        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            width: 100%;
            height: var(--header-height-lg);
            background-color: var(--color-white);
        }

        #{$root}__content,
        #{$root}__media {
            position: relative;
            z-index: 1;
        }

        #{$root}__content {
            padding: rem(96px) 0 0;
            background-color: transparent;
            min-height: rem(580px);

            p {
                margin-bottom: rem(32px);
                max-width: 90%;
            }
            
            .button {
                align-self: flex-start;
                margin-top: auto;
                transform: translateY(50%);
                margin-bottom: var(--header-height-lg);
            }

        }

        #{$root}__media {
            position: relative;
            margin-right: calc(50% - 50vw);
            clip-path: polygon(100px 0%, 100% 0, 100% 100%, 0 100%, 0% 100px);
        }

    }

}
