.logo {
    transition: var(--transition-duration);

    &__circle {
        transition: var(--transition-duration);
        fill: var(--color-primary);
    }

    &__text {
        transition: var(--transition-duration);  
        fill: var(--color-white);
    }

    &--sm {
        width: 60px;
        height: 60px;
        transition: var(--transition-duration);
    }

    &--lg,
    &--homepage {
        width: 174px;
        height: 43px;
        transition: var(--transition-duration);

        body.active-responsive-nav & {

            .logo__circle {
                fill: var(--color-white);
            }

            .logo__text {
                fill: var(--color-white);
            }

        }

    }

    @include breakpoint($bp-small) {

        &--lg,
        &--homepage {
            width: 248px;
            height: 61px;
        }

    }

    @include breakpoint($bp-large) {

        &--lg,
        &--homepage {
            transform: scale(1);
            transform-origin: top left;
        }
        
        &--lg {

            body.active-responsive-nav & {
                transform: scale(0.74);
            }

        }

        &--homepage {
            width: 328px;
            height: 81px;

            body.active-responsive-nav & {
                transform: scale(0.5538461538);
            }

        }

    }

}
