.nav {
    $root: &;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    min-height: 100vh;
    max-height: 100vh;
    background: var(--color-primary);
    color: var(--color-white);
    z-index: 1;
    opacity: 0;
    transform: scale(1.25);
    pointer-events: none;
    transition: var(--transition-duration);

    &__inner {
        height: 100%;
    }

    &__image {
        display: none;
    }

    &__navigation {
        padding-top: var(--header-height-sm);
        padding-bottom: rem(16px);
        height: 100%;

        a {
            color: var(--color-white);
            font-size: rem(30px);

            &::after {
                @extend %fa-icon;
                @extend .fal;
                content: fa-content($fa-var-long-arrow-right);
                margin-left: rem(10px);
                font-size: rem(16px);
                transition: var(--transition-duration);
                opacity: 0;
            }

            &:hover {
                text-decoration: underline;

                &::after {
                    transform: translateX(10px);
                    opacity: 1;
                }
            }
        }

        ul + ul {
            margin-top: rem(32px);

            li:not(:last-child) {
                margin-right: rem(32px);
            }

            a {
                position: relative;
                color: rgba(255, 255, 255, 0.75);
                font-size: rem(24px);

                &::after {
                    display: none;
                }

                span {
                    display: flex;
                    justify-content: center;
                    position: absolute;
                    top: 0;
                    right: -12px;
                    width: 16px;
                    height: 16px;
                    border-radius: 50%;
                    color: var(--color-white);
                    background-color: var(--color-primary-dark);
                    font-size: rem(12px);
                    line-height: 14px;
                }
            }
        }
    }

    &__address {
        position: relative;
        padding-top: rem(32px); 
        padding-bottom: rem(32px);
        color: var(--color-primary-dark);
        
        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: -100vw;
            z-index: -1;
            height: 100%;
            width: 200vw;
            background-color: var(--color-primary-lightest);
        }

         /* Avoid Chrome to see Safari hack */
        @supports (-webkit-touch-callout: none) {
            /* The hack for Safari */
            padding-bottom: rem(120px)
        }

        address {
            margin-bottom: rem(24px);

            a {
                color: inherit;

                span {
                    color: var(--color-primary);
                }
            }
        }
    }

    @include breakpoint($bp-large) {
        #{$root}__navigation {
            padding-top: var(--header-height-lg);
            padding-bottom: rem(32px);

        }

        #{$root}__address {
            address {
                margin-bottom: rem(24px);
            }
        }

        #{$root}__image {
            display: block;
            position: relative;
            margin-right: calc(50% - 50vw);

            img {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
    }

    @include breakpoint($bp-extra-large) {
        #{$root}__navigation {
            a {
                font-size: rem(40px);

                &::after {
                    font-size: rem(26px);
                }
            } 

            ul + ul {
                li:not(:last-child) {
                    margin-right: rem(56px);
                }

                a {
                    font-size: rem(24px);
                }
            }
        }
    }

    body.active-responsive-nav & {
        opacity: 1;
        pointer-events: all;
        transform: scale(1);

        .nav__navigation li {
            animation-name: animateIn;
            animation-duration: 350ms;
            animation-delay: calc(var(--animation-order) * 100ms);
            animation-fill-mode: both;
            animation-timing-function: ease-in-out;
        }

        // .nav__navigation li:nth-child(1) {
        //     animation-delay: calc(1 * 100ms);
        // }

        // .nav__navigation li:nth-child(2) {
        //     animation-delay: calc(2 * 100ms);
        // }

    }
}

@keyframes animateIn {
    0% {
      opacity: 0;
      transform: scale(0.6) translateY(-8px);
    }
    
    100% {
      opacity: 1;
    }
}