.page-header  {
    padding-top: rem(112px);
    padding-bottom: var(--container-spacing);
    background-color: var(--color-primary-lightest);
    text-align: center;

    p {
        margin-top: rem(12px);
    }
    
    &__media-inner {      

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

    }

    &--with-image {
        padding-bottom: 0;

        p {
            margin-bottom: rem(64px);
        }

    }

    @include breakpoint($bp-small) {

        &__subtitle {
            font-size: rem(26px);
        }

        p {
            font-size: rem(20px);
        }

    }

    @include breakpoint($bp-medium) {
        padding-top: rem(128px);
    }

    @include breakpoint($bp-large) {
        padding-top: rem(148px);

        // p {
        //     margin-top: rem(24px);
        // }

        &__media {
            position: relative;   
    
            &::after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 50%;
                z-index: 1;
                background-color: var(--color-white);
            }
        }

        &__media-inner {        
            z-index: 2;
        }
    }

    @include breakpoint($bp-extra-large) {
        &__media {
            height: 450px; // Overwrite aspect ratio
            padding-bottom: 0;
            align-content: center;

            &::after {
                height: 225px;
            }
        }

        &__media-inner {        
            display: flex;
            justify-content: center;
    
            img {
                max-width: 990px;
            }
        }

    }
}