.pagination {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	z-index: 2;
	padding-top: var(--container-spacing);
	padding-bottom: var(--container-spacing);

	.page-numbers {
		display: flex;
		justify-content: center;
		align-items: center;
		width: rem(32px);
		height: rem(32px);
		border-radius: 50%;
		background-color: var(--color-primary-lighter);
		font-size: rem(16px);
		font-weight: var(--weight-medium);

		&:not(:last-child) {
			margin-right: rem(14px);
		}

		&.current,
		&:hover {
			background-color: var(--color-primary);
			color: var(--color-white);
		}

	}

}