.platforms-wrapper {
    @include breakpoint($bp-large) {        
        position: relative;
    
        &::after {
            content: '';
            position: absolute;
            top: 50%;
            left: 0;
            right: 0;
            width: 100%;
            height: 80%;
            background-color: var(--color-primary-lightest);
            z-index: -1;
        }
    }
}

.platforms {
    $root: &;
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
    width: 100%;

    &__heading {
        clip: rect(0 0 0 0);
        clip-path: inset(50%);
        height: 1px;
        overflow: hidden;
        position: absolute;
        white-space: nowrap;
        width: 1px;
    }
    
    &__item {
        position: relative;
        flex: 0 0 85%;
        scroll-snap-align: center;

        .platforms__media {
            width: 100%;
            height: 100%;
            padding: 0 calc(var(--container-p-sm) / 2);
            object-fit: cover;
        }

        &:first-child {
            .platforms__media {
                padding-left: var(--container-p-sm);
            }
        }

        &:last-child {
            .platforms__media {
                padding-right: var(--container-p-sm);
            }
        }

        &:hover {
            i {
                transform: translateX(5px);
            }
        }
    }

    &__content {
        justify-content: center;
        text-align: center;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        padding-top: rem(32px);
        padding-bottom: rem(32px);
        color: var(--color-white);
        
        .platforms__logo {
            display: block;
            width: 100%;
            max-width: 180px;
            height: 100%;
            max-height: 64px;
            margin: auto auto 0;
        }

        i {
            display: block;
            margin-top: auto;
            transition: var(--transition-duration);
        }

    }
    
    @include breakpoint($bp-small) {
        display: grid;
        scroll-snap-type: none;
        overflow-x: visible;
        
        #{$root}__item {
            flex: 0 0 auto;

            .platforms__media {
                padding: 0;
                transition: var(--transition-duration);
                transform: scale(1.1); 
                filter: blur(5px);
                backface-visibility: hidden;
            }

            &:first-child {
                .platforms__media {
                    padding-left: 0;
                }
            }
    
            &:last-child {
                .platforms__media {
                    padding-right: 0;
                }
            }
    
            &:hover {
                .platforms__media {
                    transform: scale(1.1); 
                    filter: blur(0px);            
                }
            }
        }
    }
}