.related {
  &__item {
    position: relative;

    &:hover {
      .related__image {
        img {
          transform: scale(1.05);
        }
      }

      .related__content {
        a i {
          transform: translateX(5px);
        }
      }
    }
  }

  &__image {
    img {
      object-fit: cover;
      height: 100%;
      transform: scale(1);
      transition: var(--transition-duration);
    }
  }

  &__content {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: var(--color-white);
    padding: rem(8px) rem(16px) 0 0;

    a {
      i {
        transition: var(--transition-duration);
        transform: translateX(0);
        margin-left: rem(8px);
      }
    }
  }
}
