.section {
  &__header {
    padding-bottom: rem(32px);
    text-align: center;

    p {
      margin-top: rem(24px);
    }
  }

  @include breakpoint($bp-large) {
    &__header {
      padding-bottom: rem(40px);
    }
  }
}
