.socials {
  li {
    width: 32px;
    height: 32px;
    background-color: var(--color-primary);
    display: inline-flex;
    margin-right: rem(8px);
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 32px;
    border-radius: 50%;
    transition: var(--transition-duration);

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      background-color: var(--color-primary-dark);
    }

    a {
      display: block;
      width: 100%;
      height: 100%;
      color: var(--color-white);
    }
  }
}
