.tags {
    margin-top: rem(24px);

    &:not(:last-child) {
        margin-bottom: rem(18px);
    }

    strong {
        display: block;
        font-weight: var(--weight-semi-bold);
    }
    
    &__item {
        position: relative;
        color: var(--color-primary);
        margin-top: rem(8px);
        margin-right: rem(32px);

        &::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            width: calc(100% + 10px);
            height: 12px;
            background-color: var(--color-primary);
            opacity: 0.15;
        }
    }
}