.team {
  &__member {
    margin-top: rem(24px);
  }

  &__image {
    position: relative;

    img {
      height: 100%;
      object-fit: cover;
    }
  }

  &__content {
    margin-top: rem(16px);

    p {
      margin-top: rem(4px);
      margin-bottom: rem(16px);
      font-size: rem(18px);
    }
  }

  &__heading {
    color: var(--color-primary);
  }
}
