.testimonials {
    &__item {
        position: relative;
    }

    &__media {
        img {
            width: 100%;
            height: 100%;
        }
    }

    &__content {
        display: inline-flex;
        flex-direction: column;
        width: 100%;

        blockquote {
            position: relative;
            padding: rem(32px);
            background-color: var(--color-primary);
            color: var(--color-white);

            &::before {
                content: '';
                position: absolute;
                left: 50%;
                top: -24px;
                width: 0;
                height: 0;
                transform: translate(-50%, 0);
                border-bottom: 24px solid var(--color-primary);
                border-right: 24px solid transparent;
                border-left: 24px solid transparent;
            }
        }

        figcaption {
            margin-top: rem(20px);
            padding-right: rem(48px);
            font-size: rem(24px);
            font-weight: var(--weight-medium);
            align-self: flex-end;

            cite {
                display: block;
                color: var(--color-primary);
                font-size: rem(18px);
                font-weight: var(--weight-regular);
                font-style: normal;
            }
        }
    }

    &__buttons {
        display: flex;
        justify-content: flex-end;
    }

    &__button:not(:first-child) {
        margin-left: rem(16px);
    }


    @include breakpoint($bp-medium) {
        .swiper-slide-active {
            .testimonials__media,
            .testimonials__content blockquote {
                opacity: 1;
                transform: translate3d(0, 0, 0);
            }
        }

        &__media {
            max-width: 425px;
            max-height: 425px;
            transition: 0.75s ease-in-out all;
            opacity: 0;
            transform: translate3d(-100%, 0, 0);
        }

        &__content {
            position: absolute;
            bottom: 0;
            right: 0;
            z-index: 1;
            width: 60%;
            
            blockquote {
                transition: 0.75s ease-in-out all;
                opacity: 0;
                transform: translate3d(100%, 0, 0);

                &::before {
                    left: -24px;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    border-top: 24px solid transparent;
                    border-bottom: 24px solid transparent;
                    border-right: 24px solid var(--color-primary);
                }
            }
        }
    }

    @include breakpoint($bp-large) {
        &__media {
            max-width: 480px;
            max-height: 480px;
        }
    }
}