.text-block {
  align-items: center;

  &__image {

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  
  }

  &__content {
    padding-top: rem(32px);

    .heading-underline {
      margin-bottom: rem(24px);
    }

    .button {
      margin-top: rem(18px);
    }

    .button--link {
      margin-top: rem(24px);
    }

  }

  @include breakpoint($bp-medium) {
    &__content {
      padding-top: 0;
    }

    &--reversed {
      direction: rtl;

      .text-block__content {
        direction: ltr;
        padding-left: 0;
        padding-right: var(--gap);
      }
    }
  }

  @include breakpoint($bp-large) {
    &__content {
      padding-left: var(--gap);
    }

    &--reversed {
      direction: rtl;

      .text-block__content {
        direction: ltr;
        padding-left: 0;
        padding-right: var(--gap);
      }
    }
  }
}
