.timeline {
  position: relative;
  z-index: 2;

  &__heading {
    margin-top: rem(32px);
    margin-bottom: rem(24px);
  }

  &__inner {
    position: relative;
    z-index: 2;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: calc(var(--container-p-sm) - 3px);
      transform: translateX(-50%);
      width: 2px;
      background-color: var(--color-primary);
      z-index: -1;
    }
  }

  &__list {
    position: relative;
    padding-left: rem(52px);
    padding-top: rem(64px);
    padding-bottom: rem(64px);
    counter-reset: section;

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 9px;

      width: 16px;
      height: 16px;
      border-radius: 50%;
      background-color: var(--color-primary);
      z-index: 1;
    }

    &::before {
      top: -8px;
    }

    &::after {
      bottom: -8px;
    }
  }

  &__item {
    position: relative;
    display: block;

    &::before,
    &::after {
      position: absolute;
      background-color: var(--color-primary);
      left: rem(-51px);
    }

    &::before {
      counter-increment: section; /* Increment the value of section counter by 1 */
      content: counter(section);
      top: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 32px;
      height: 32px;
      border-radius: 50%;
      color: var(--color-white);
      font-size: rem(18px);
    }

    &::after {
      content: "";
      top: 16px;
      width: 40%;
      height: 2px;
      z-index: -1;
    }
  }

  @include breakpoint($bp-medium) {
    &__heading {
      margin-top: rem(64px);
      margin-bottom: rem(48px);
      text-align: center;
    }

    &__inner {
      &::after {
        left: 50%;
      }
    }

    &__list {
      padding-left: 0;
      padding-top: rem(80px);
      padding-bottom: rem(80px);

      &::before,
      &::after {
        left: 50%;
        transform: translateX(-50%);
      }
    }

    &__item {
      width: 50%;

      &:nth-child(odd) {
        padding-right: var(--container-p-sm);

        &::before {
          left: auto;
          right: 0;
          transform: translateX(50%);
        }

        &::after {
          left: auto;
          right: 0;
          width: 35%;
        }
      }

      &:nth-child(even) {
        padding-left: var(--container-p-sm);
        right: 0;
        transform: translateX(100%);

        &::before {
          left: rem(-16px);
        }

        &::after {
          left: 0;
        }
      }
    }
  }

  @include breakpoint($bp-large) {
    &__list {
      padding-top: rem(160px);
      padding-bottom: rem(160px);
    }

    &__item {
      &:nth-child(odd) {
        padding-right: var(--container-p-lg);
      }

      &:nth-child(even) {
        padding-left: var(--container-p-lg);
      }
    }
  }
}
