//
// Globals
// =============================================================================

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@400;500;600&display=swap');

:root {

    // Base spacings
    --base-spacing-sm:           1rem;
    --base-spacing-md:           1.5rem; 
    --base-spacing-lg:           2rem;
    --base-spacing-xl:           2.5rem;

    // Font families
    --family-primary:            'Zilla Slab', serif;
    --family-secondary:          'Zilla Slab', serif;
    --family-mono:               "Consolas", monospace;

    // Font weights
    --weight-regular:             400;
    --weight-medium:              500;
    --weight-semi-bold:           600;

    // Transition duration
    --transition-duration:        250ms;
    --tempo:                      var(--transition-duration);

    // Colors
    --color-secondary:          #E0A060;
    --color-grey:               #37363A;
    --color-grey-light:         #595959;
    --color-grey-lighter:       #dedede;
    --color-grey-lightest:      #f2f2f2;
    --color-red:                #df3639;
    --color-white:              #ffffff;
    --color-primary-dark:       #06436F;
    --color-primary:            #12B3E5;
    --color-primary-light:      #88D9F2;
    --color-primary-lighter:    #C4ECF8;
    --color-primary-lightest:   #E7F7FC;
    --color-body:                 var(--color-white);
    --color-text:                 var(--color-primary-dark);

    --gap:                      30px;
    --container-p-sm:           20px;
    --container-p-lg:           30px;
    --container-spacing:        64px;
    --w-page-max:               calc(1320px - (2 * var(--container-p-lg)));
    --header-height-sm:         72px;
    --header-height-lg:         120px;

    --h1-size:                  40px;
    --h2-size:                  28px;
    --h3-size:                  20px;
    --h4-size:                  18px;
    --h5-size:                  16px;

}

// Breakpoints
$bp-tiny:                       rem(325px);
$bp-extra-small:                rem(480px);
$bp-small:                      rem(640px);
$bp-medium:                     rem(768px);
$bp-large:                      rem(1024px);
$bp-extra-large:                rem(1280px);

@media screen and (min-width: 640px) {

	:root {
		--h1-size: 50px;
		--h2-size: 30px;
		--h3-size: 22px;
		--h4-size: 20px;
		--h5-size: 18px;
	}

}

@media screen and (min-width: 768px) {

	:root {
		--container-spacing: 72px;
	}

}

@media screen and (min-width: 1024px) {

	:root {
		--container-spacing: 80px;
	}

}