/**
 * WordPress editor generated classes
 */

del, strike {
	text-decoration: line-through;
}

em {
	font-style: italic;
}

.alignleft,
.alignright,
.aligncenter {

	&:not(:last-child) {
		margin-bottom: var(--base-spacing-md);
	}

}

.wp-caption {
	max-width: 100%;

	&:not(:last-child) {
		margin-bottom: var(--base-spacing-md);
	}

	img {
		border: 0 none;
		padding: 0;
		margin: 0;
		display: block;
	}

	p.wp-caption-text {
		font-size: rem(13px);
		margin: 0;
		padding: rem(10px) 0 0 0;
	}

}

// breakpoints

@include breakpoint($bp-small) {

	.alignleft {
		margin-right: var(--base-spacing-md);
		margin-bottom: var(--base-spacing-md);
		display: inline;
		float: left;
	}

	.alignright {
		margin-left: var(--base-spacing-md);
		margin-bottom: var(--base-spacing-md);
		display: inline;
		float: right;
	}

	.aligncenter {
		margin-right: auto;
		margin-left: auto;
		display: block;
		clear: both;
	}

}